<div class="page-container">
    <div class="intro">
      <img src="../../assets/41524026_ml.jpg" alt="" class="img"> 
      <div class="text-imagine">
        <h2 class="title"> Welcome! </h2>
        <h4 class="intro-txt"> The platform is made to monitorize and manage the interns in our company. As HR or Project Manager you can add an
             new intern in the team of a project or you can delete some. 
            You can also view each intern administrative details and add new interns in our company or delete them when the contract is over.  </h4>
      </div>
    </div>
</div>