<mat-toolbar color="primary" class="app-toolbar">
	<div class="first-half">
		<button mat-icon-button (click)="isExpanded = !isExpanded" class="menu-btn">
			<mat-icon>menu</mat-icon>
		</button>
		<div class="logo">
			<span class="app-app-name">Internships Manager</span>
			<i class="fas fa-hand-holding-heart"></i>
		</div>
	</div>
	
	<div class="second-half">
		<button mat-icon-button class="profile-btn">
			<mat-icon class="profile-circle">account_circle</mat-icon>
		</button>
		<span class="nume-pren"> nume prenume</span>
		<button class="tlb-btn">Log out</button>
	</div>
</mat-toolbar>

<mat-sidenav-container class="app-container" autosize fullscreen>
	<mat-sidenav #sidenav class="app-sidenav" mode="side" opened="true">
		<mat-nav-list>
			<mat-list-item class="item-list">
				<span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
				<mat-icon mat-list-icon>home</mat-icon>
			</mat-list-item>
        </mat-nav-list>
        <mat-nav-list>
			<mat-list-item class="item-list">
				<span class="full-width" *ngIf="isExpanded || isShowing">Interns</span>
				<mat-icon mat-list-icon>groups</mat-icon>
			</mat-list-item>
        </mat-nav-list>
        <mat-nav-list>
			<mat-list-item class="item-list">
				<span class="full-width" *ngIf="isExpanded || isShowing">Projects</span>
				<mat-icon mat-list-icon>apps</mat-icon>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>

		<router-outlet></router-outlet>

	</mat-sidenav-content>

</mat-sidenav-container>